@charset "utf-8";
/* CSS Document */

/*----------------总体----------------*/
* {
	margin: 0px;
	padding: 0px;
}
body {
	font-size: 12px;
	font-family: "微软雅黑";
	color:#7e7e7e;
}
div, img, ul, ol, li, dl, dt, dd, p {
	border: none;
	padding: 0;
	margin: 0;
}
li {
	list-style-type: none;
}
h1, h2, h3, h4, h5 {
	font-size: 14px;
	font-weight:bold;
}
a{
	text-decoration:none;
}
a:hover{
	text-decoration:none;
}
.clear {
	clear: both;
}
.fleft {
	float: left;
}
.fright {
	float: right;
}
.tcenter {
	text-align: center;
}
.tright {
	text-align: right
}
.tleft {
	text-align: left;
}

/*     */
.main{
	margin:0 auto;
	text-align:center;
}
.main-c{
	background:url(../img/main-bg.png) no-repeat center center;
	height:307px;
	width:720px;
	margin:0 auto;
	
}
.m1-left{
	height:110px;
	width:190px;
	
}
.m1-left h2{
	color:#5cb262;
	text-align:right;
	line-height:30px;
}
.m1-left p{
	text-align:right;
	line-height:20px;
}
.m1-right{
	height:110px;
	width:190px;
	
}
.m1-right h2{
	color:#ffd54e;
	text-align:left;
	line-height:30px;
}
.m1-right p{
	text-align:left;
	line-height:20px;
}
.m2-left{
	height:110px;
	width:190px;
	
}
.m2-left h2{
	color:#0288d1;
	text-align:right;
	line-height:30px;
}
.m2-left p{
	text-align:right;
	line-height:20px;
}
.m2-right{
	height:110px;
	width:190px;
	
}
.m2-right h2{
	color:#92d050;
	text-align:left;
	line-height:30px;
}
.m2-right p{
	text-align:left;
	line-height:20px;
}
.bar1{
	 height:110px; 
}
.bar2{
	 height:53px; 
	 margin-top:20px;
}
.bar3{
	 height:110px; 
	 margin-top:20px;
}


/*padding*/
.pad_T5 {
	padding-top: 5px
}
.pad_T8 {
	padding-top: 8px;
}
.pad_T10 {
	padding-top: 10px;
}
.pad_T15 {
	padding-top: 15px;
}
.pad_T20 {
	padding-top: 20px;
}
.pad_T30 {
	padding-top: 30px;
}
.pad_L5 {
	padding-left: 5px;
}
.pad_L7 {
	padding-left: 7px;
}
.pad_L10 {
	padding-left: 10px;
}
.pad_L15 {
	padding-left: 15px;
}
.pad_L20 {
	padding-left: 20px;
}
.pad_L25 {
	padding-left: 25px;
}
.pad_L30 {
	padding-left: 30px;
}
.pad_L35 {
	padding-left: 35px;
}
.pad_L40 {
	padding-left: 40px;
}
.pad_L80 {
	padding-left: 80px;
}
.pad_L120 {
	padding-left: 120px;
}
.pad_R5 {
	padding-right: 5px
}
.pad_R10 {
	padding-right: 10px
}
.pad_R15 {
	padding-right: 15px
}
.pad_R20 {
	padding-right: 20px
}
.pad_R25 {
	padding-right: 20px
}
.pad_B5 {
	padding-bottom: 5px
}
.pad_B10 {
	padding-bottom: 10px
}
.pad_B15 {
	padding-bottom: 15px
}
.pad_B20 {
	padding-bottom: 20px
}
.pad_B25 {
	padding-bottom: 20px
}
/*---------------------------------------segmentation------------------------------------------*/

.mar_T2 {
	margin-top: 2px;
}
.mar_T5 {
	margin-top: 5px;
}
.mar_T7 {
	margin-top: 7px;
}
.mar_T10 {
	margin-top: 10px;
}
.mar_T15 {
	margin-top: 15px;
}
.mar_T18 {
	margin-top: 18px;
}
.mar_T20 {
	margin-top: 20px;
}
.mar_T25 {
	margin-top: 25px;
}
.mar_T30 {
	margin-top: 30px;
}
.mar_T35 {
	margin-top: 35px;
}
.mar_T40 {
	margin-top: 40px;
}
.mar_T50 {
	margin-top: 50px;
}
.mar_T60 {
	margin-top: 60px;
}
.mar_B10 {
	margin-bottom: 10px;
}
.mar_B15 {
	margin-bottom: 15px;
}
.mar_L5 {
	margin-left: 5px;
}
.mar_L6 {
	margin-left: 6px;
}
.mar_L7 {
	margin-left: 7px;
}
.mar_L8 {
	margin-left: 8px;
}
.mar_L10 {
	margin-left: 10px;
}
.mar_L12 {
	margin-left: 12px;
}
.mar_L15 {
	margin-left: 15px;
}
.mar_L20 {
	margin-left: 20px;
}
.mar_L25 {
	margin-left: 25px;
}
.mar_L30 {
	margin-left: 30px;
}
.mar_L35 {
	margin-left: 35px;
}
.mar_L40 {
	margin-left: 40px;
}
.mar_L70 {
	margin-left: 70px;
}
.mar_R5 {
	margin-right: 5px;
}
.mar_R10 {
	margin-right: 10px;
}
.mar_R15 {
	margin-right: 15px;
}
.mar_R20 {
	margin-right: 20px;
}
.mar_R25 {
	margin-right: 25px;
}
.mar_R55 {
	margin-right: 55px;
}
